<app-navbar></app-navbar>
<div class="content">
    <div class="container">
        <div class="user-panel">
            <img class="profile-picture" src="https://www.pngkit.com/png/detail/128-1280585_user-icon-fa-fa-user-circle.png"/>
            <div class="right-panel">
                <div class="welcome-back">Welcome back</div>
                <div class="full-name">{{ userData.firstName }} {{ userData.lastName }}</div>
                <div class="account-description">Student of Computer Science</div>
            </div>
        </div>
        <div class="main-container dash-container">
            <div class="panel up-next">
                <div class="head">Up Next</div>
                <div class="item">
                    <i class="icon far fa-file"></i>
                    <div class="content">
                        <div class="class-code">L4AC - LEC</div>
                        <div class="course-name">Intelligent Systems</div>
                        <div class="description">FX628 - 09:30 - 11:10</div>
                    </div>
                </div>
                <div class="item">
                    <i class="icon far fa-chalkboard-teacher"></i>
                    <div class="content">
                        <div class="class-code">L4AC - LEC</div>
                        <div class="course-name">Web Application Development and Security</div>
                        <div class="title">Firebase Authentication</div>
                        <div class="description">Due Monday, May 4th 2020</div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="head">Grades and Points</div>
            </div>
            <div class="panel">
                <div class="head">Total Course Credits</div>
            </div>
        </div>
    </div>
</div>