* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: OpenSans-Bold;
    font-size: 15px !important;
    margin:0px;
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Semibold.ttf);
  }
  
@font-face{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}  

@font-face{
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf)
}

.user-btn:hover{
    opacity: 0.8;
}

/* TABLE */
tr.hide-table-padding td{
    padding: 0;
}
  
.expand-button{
    position: relative;
}

.accordion-toggle .expand-button:after{
    position: absolute;
    left:.75rem;
    top: 50%;
    transform: translate(0, -50%);
    content: '-';
}

.accordion-toggle.collapsed .expand-button:after{
    content: '+';
}
