* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: OpenSans-Bold;
    font-size: 15px !important;
    margin:0px;
    height: 100%;
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Semibold.ttf);
  }
  
@font-face{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}  

@font-face{
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf)
}

.user-btn:hover{
    opacity: 0.8;
}