* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: OpenSans-Bold;
    font-size: 15px !important;
    margin:0px;
    padding: 0px !important;
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Semibold.ttf);
  }
  
@font-face{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}  

@font-face{
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf)
}

.user-btn:hover{
    opacity: 0.8;
}

.form-control::placeholder{
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.va-info{
    padding: 10px 20px !important;
    font-family: OpenSans-Light;
    font-size: 17px;
}

.p-5{
    padding: 10px !important;
    width: 70%;
    margin-top: 100px;
    margin-right: 0px !important;
}