* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: OpenSans-Bold;
    font-size: 15px !important;
    margin:0px;
    padding: 0px !important;
}

@font-face{
    font-family: OpenSans-Bold;
    src: url(fonts/OpenSans-Semibold.ttf);
  }
  
@font-face{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}  

@font-face{
    font-family: OpenSans-Light;
    src: url(fonts/OpenSans-Light.ttf)
}

.user-btn:hover{
    opacity: 0.8;
}

.row-title{
    background-color: #008ed3;
}

.form-control::placeholder{
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.va-info{
    padding: 10px 20px !important;
    font-family: OpenSans-Light;
    font-size: 17px;
}

.p-5{
    padding: 10px !important;
    width: 100%;
    margin-top: 100px;
    margin-right: 0px !important;
}

.btn-period{
    background-color: #008ed3;
    font-family: OpenSans-Bold;
}

.dropdown{
    width: 150px;
}

/* .custom-combobox {
    display: block;
    position: relative;
    height: 40px;
    background: #fff;
}

.custom-combobox select {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 40px;
    min-height: 40px;
    zoom: 1;
    opacity: 0;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.custom-combobox .combobox-label {
    display: block;
    position: relative;
    padding: 0 50px 0 10px;
    height: 40px;
    color: #5e5e5e;
    line-height: 40px;
    background: transparent;
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
} */