.header {
    height: 120px;
    padding: 10px 0 0 0;
}

.navbar {
    height: 60px;
    padding-left: 0;
    padding-right: 0;
    background: rgb(0, 146, 219);
    color: #FFFFFF;
    overflow: hidden;
}

.navbar .container {
    padding: 0;
}

.navbar .logo {
    height: 50px;
    width: 0px;
    background: url('/assets/images/logo-nav.png');
    background-size: 85px auto;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: width .3s;
}

.navbar .nav-item a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.nav-head.sticky {
    padding-bottom: 60px;
}

.navbar .logo.sticky {
    width: 110px;
}