*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body{
    height: 100%;
    font-family: OpenSans-Regular;
}

@font-face{
    font-family: OpenSans-Bold;
    src: url('/assets/fonts/OpenSans-Semibold.ttf');
}

@font-face{
    font-family: OpenSans-Regular;
    src: url('/assets/fonts/OpenSans-Regular.ttf');
}  

@font-face{
    font-family: OpenSans-Light;
    src: url('/assets/fonts/OpenSans-Light.ttf');
}

.user-btn:hover{
    opacity: 0.8;
}

a{
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

a:focus{
    outline: none !important;
}

a:hover{
    text-decoration: none;
    color: #008ed3;
}

p{
    font-family: OpenSans-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li{
    margin: 0px;
    list-style-type: none;
}

input{
    outline: none;
    border: none;
}

textarea{
    outline: none;
    border: none;
}

textarea:focus, input:focus{
    border-color: transparent !important;
}

button{
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover{
    cursor: pointer;
}

iframe{
    border: none !important;
}

.txt1 {
    font-family: OpenSans-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: OpenSans-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }

.limiter{
    width: 100%;
    margin: 0 auto;
}

.container-login100{
    width: 100%;  
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    /* background:  url(assets/components/login-bg1.jpg) */
}

.wrap-login100{
    width: 800px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.13);
    display: flex;
    justify-content: space-between;
    /* padding: 177px 130px 33px 95px; */
}

.login100-pic{
    width: 316px;
    padding: 200px 30px 200px 30px;
    background: #F0F0F0;
}

.login100-pic img{
    max-width: 100%;
}

.login100-form{
    width: 400px;
    padding: 30px;
    margin: 100px 40px 100px 40px;
}

.login100-form-title{
    font-family: OpenSans-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;

    width: 100%;
    display: block;
    padding-bottom: 54px;
}

.wrap-input100{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input100{
    font-family: OpenSans-Light;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}

.focus-input100{
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

@keyframes anim-shadow{
    to{
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100{
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
}

.input100:focus + .focus-input100 + .symbol-input100{
    color: #008ed3;
    padding-left: 28px;
}

.container-login100-form-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.login100-form-btn{
    font-family: OpenSans-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #008ed3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}

.login100-form-btn:hover{
    background: #333333;
}

@media (max-width: 992px){
    .wrap-login100{
        padding: 177px 90px 33px 85px;
    }

    .login100-pic{
        width: 35%;
    }

    .login100-form{
        width: 50%;
    }
}

@media (max-width: 768px){
    .wrap-login100{
        padding: 100px 80px 33px 80px;
    }

    .login100-pic{
        display: none;
    }

    .login100-form{
        width: 100%;
    }
}

@media (max-width: 576px){
        .wrap-login100{
            padding: 100px 15px 33px 15px;
    }
}

.validate-input{
    position: relative;
}

.alert-validate::before{
    /* content: attr(data-validate); */
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    right: 8px;
    pointer-events: none;

    font-family: OpenSans-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;
}

.alert-validate::after{
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    right: 13px;
}

.alert-validate:hover:before{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px){
    .alert-validate::before{
        visibility: visible;
        opacity: 1;
}
}