<div class="row" style="padding: 0px !important;">
    <div class="col-md-12" style="padding-right: 0px !important">
        <footer class="page-footer font-small blue pt-4" style="border-top: 1px solid #cccccc; background-color: white">
            <!-- FOOTER LINKS -->
            <div class="container-fluid text-center text-md-left">
                <!-- GRID ROW -->
                <div class="row footerGrid" style="padding: 70px 80px;text-align: left">
                    <!-- GRID COLUMN COPYRIGHT -->
                    <div class="col-md-4 mt-md-0 mt-4">
                        <!-- CONTENT -->
                        <div class="row">
                            <div class="col-md-6">
                                <a href="index.php">
                                    <img class="img-fluid" src="assets/components/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <p style="text-align: left;margin-top: 20px">© Copyright 2020 Binus Univeristy.</p>
                        <p style="text-align: left">All Rights Reserved</p>
                    </div>
                    <!-- END OF GRID COLUMN COPYRIGHT -->

                    <!-- GRID COLUMN CONTACT US -->
                    <div class="col-md-4 mb-md-0 mb-4 footerBar">
                        <!-- LINKS -->
                        <h5 class="text-uppercase">Contact Us</h5>
                        <ul class="list-unstyled">
                            <li style="text-decoration: none !important">
                                <img src="assets/icon/twitter.png"
                                    style="padding-right: 0px !important; text-align: center; width: 5%;" alt=""><a
                                    style="color: black; margin-left: 10px;" href="https://twitter.com/binusmaya"
                                    target="_blank">Twitter</a>
                                <p style="color: black; font-size: 12px; margin-left: 37.8px;">
                                    binusmaya</p>
                            </li>
                            <li>
                                <img src="assets/icon/facebook.png"
                                    style="padding-right: 0px !important; text-align: center; width: 5%;" alt="">
                                <a style="color: black; margin-left: 10px;"
                                    href="https://www.facebook.com/universitasbinanusantara/"
                                    target="_blank">Facebook</a>
                                <p style="color: black; font-size: 12px; margin-left: 37.8px;">
                                    Binus Univeristy
                                </p>
                            </li>
                            <li><img src="assets/icon/email.png"
                                    style="padding-right: 0px !important; text-align: center; width: 5%;" alt="">
                                <a style="color: black; margin-left: 10px;"
                                    href="mailto:infoservices@binus.edu">Email</a>
                                <p style="color: black; font-size: 12px; margin-left: 37.8px;">
                                    infoservices@binus.edu
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- END OF GRID COLUMN CONTACT US -->

                    <!-- GRID COLUMN NAVIGATION -->
                    <div class="col-md-4 mb-md-0 mb-4 footerBar">
                        <!-- LINKS -->
                        <h5 class="text-uppercase">Navigation</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a style="color: black" href="index.php">Home</a>
                            </li>
                            <li>
                                <a style="color: black" href="courses.php">Courses</a>
                            </li>
                            <li>
                                <a style="color: black" href="#">Assignments</a>
                            </li>
                            <li>
                                <a style="color: black" href="#">Forum</a>
                            </li>
                            <li>
                                <a style="color: black" href="#">Score</a>
                            </li>
                            <li>
                                <a style="color: black" href="attendance.php">Attendance</a>
                            </li>
                            <li>
                                <a style="color: black" href="finance.php">Financial Status</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END OF GRID COLUMN NAVIGATION -->
                </div>
                <!-- END OF GRID ROW-->
            </div>
            <!-- END OF FOOTER LINKS -->
        </footer>
    </div>
</div>