<div class="row bod top_nav" style="padding: 10px 10px 0px 10px">
    <!-- LOGO -->
    <div class="col-md-7" style="text-align: left;">
        <a href="index.php">
            <img src="assets/components/logo.png" class="img-fluid"
                style="width: 250px; padding: 10px; margin-left: 30px;" alt="">
        </a>
    </div>
    <!-- ENND OF LOGO -->

    <!-- DROPDOWN MENU-->
    <div class="col-md-5">
        <div class="row" style="padding: 10px 0px; margin-top: 82.52px;">
            <div class="col-md-3" style="text-align: center;padding: 0px">
                <img style="width: 28%; margin-left: 130px;" src="assets/icon/avatar.png" alt="">
            </div>
            <div class="col-md-9">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" style="text-align: left; padding: 0px !important;">
                        <h5 style="font-family: OpenSans-Bold; display: inline-block;">David Amadeo</h5><br>
                        <h6 style="font-family: OpenSans-Regular; display: inline-block;">Student of Computer Science
                        </h6>
                        </a>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Edit Profile</a>
                        <a class="dropdown-item" href="#">Switch Login</a>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF DROPDOWN MENU -->
</div>