<bm-staff-navbar></bm-staff-navbar>
<div class="container">
    <h1>Courses - {{ courseGroup }}</h1>
    <div class="list-group">
        <a *ngFor="let class of currentPageData" href="/staff/courses/{{ courseGroup }}/{{ class.code }}" class="list-group-item list-group-item-action"><span class="badge badge-secondary">{{ class.code }}</span>{{ class.name }}</a>
    </div>
    <a class="btn btn-light" (click)="this.prevPage()">Previous</a>
    <a class="btn btn-secondary">{{ this.currentPage }}</a>
    <a class="btn btn-light" (click)="nextPage()">Next</a>
</div>